.window {
    width: 600px;
    height: 500px;
    background: #000;
    border-radius: 5px;
    overflow: hidden;
    margin: 50px 0;
}

.window-header {
    padding: 5px 0;
    background: #353b48;
    color: #fff;
    text-align: center;
    position: relative;
}

.window-control {
    width: 65px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 0;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
    background: #0e8c8c;
    cursor: pointer;
    transition: 0.3s all !important;
}

.circle:hover {
    opacity: 0.7 !important;
}

.close {
    background: #c0392b;
}

.min {
    background: #e67e22;
}

.max {
    background: #27ae60;
}