{{ define "terminals" }}
<div class="output-panel"></div>
<script>
    setTerminals()

    function setTerminals(){
        $.get(`${SERVER}/task/all`, data => {
            const {tasks} = JSON.parse(data)
            let content = ""

            for(const {Name, Log, Id} of (tasks || []).reverse()){
                content += `
                        <div class="window" id="${Id}">
                            <div class="window-header">
                                <div class="window-control">
                                    <div class="circle close" onclick="handleCloseClick('${Id}')"></div>
                                    <div class="circle min" onclick="handleMinClick('${Id}')"></div>
                                    <div class="circle max" onclick="handleMaxClick('${Id}')"></div>
                                </div>
                                <span>${Name}</span>
                                </div>
                            <div class="body">
                                <div class="out">${Log.join('\n')}</div>
                            </div>
                        </div>`
            }

            $(".output-panel").html(content === "" ? `` :content)
        })
    }

    function handleCloseClick(id){
        $.post(`${SERVER}/task/remove`, {id}).done(() => setTerminals())
    }

    function handleMinClick(id){
        $(`#${id} .body`).css("height", "0")
    }

    function handleMaxClick(id){
        $(`#${id} .body`).css("height", "500px")
    }
</script>
{{ end }}